body{
    margin: 1px;
    padding: 5px;
    min-width: 280px;
    font-size: 14px;
    border-radius: 5px;
  }
  label{
    display: block;
    font-size: 18px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-bottom: 5px;
  }
  hr{
    margin: 0px;
  }
  input {
    width: 95%;
    padding: 5px;
    margin-top: 5px;
    margin-bottom:15px;
    border: 1px solid rgb(0, 35, 190);
    border-radius: 10px;
    box-sizing: border-box;
    font-size: 15px;
  }
  form{
    margin: 5px;
    margin-bottom: 10px;
  }
  h2{
    margin: 0px;
    padding: 2px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }
  .app-header{
    background-color: rgb(235, 235, 235);
    border-radius: 5px;
    margin: 5px;
    text-align: center;
  }
  .status-success-handler{
    display: none;
    margin-bottom: 10px;
    color: green;
  }
  .status-error-handler{
    display: none;
    margin-bottom: 10px;
    color: red;
  }
  .generate-cli-token{
    padding: 0px;
    font-size: 17px;
    text-decoration: underline;
    color: rgb(75, 75, 75);
    background-color: white;
    border: none;
    display: none;
  }
  .generate-cli-token:hover{
    cursor:pointer;
    color: rgb(7, 3, 143);
  }